trunk/MashupDesignTool/NewsReaderControl/Service References/ServiceReference1/MashupToolWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1646/MashupToolWCFService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1646/MashupToolWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MashupToolWCFService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="MashupToolWCFService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="MashupToolWCFService_GetStringFromURL_InputMessage">
    <wsdl:part name="parameters" element="GetStringFromURL" />
  </wsdl:message>
  <wsdl:message name="MashupToolWCFService_GetStringFromURL_OutputMessage">
    <wsdl:part name="parameters" element="GetStringFromURLResponse" />
  </wsdl:message>
  <wsdl:message name="MashupToolWCFService_GetDataFromURL_InputMessage">
    <wsdl:part name="parameters" element="GetDataFromURL" />
  </wsdl:message>
  <wsdl:message name="MashupToolWCFService_GetDataFromURL_OutputMessage">
    <wsdl:part name="parameters" element="GetDataFromURLResponse" />
  </wsdl:message>
  <wsdl:portType name="MashupToolWCFService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:MashupToolWCFService/DoWork" message="MashupToolWCFService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:MashupToolWCFService/DoWorkResponse" message="MashupToolWCFService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStringFromURL">
      <wsdl:input wsaw:Action="urn:MashupToolWCFService/GetStringFromURL" message="MashupToolWCFService_GetStringFromURL_InputMessage" />
      <wsdl:output wsaw:Action="urn:MashupToolWCFService/GetStringFromURLResponse" message="MashupToolWCFService_GetStringFromURL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataFromURL">
      <wsdl:input wsaw:Action="urn:MashupToolWCFService/GetDataFromURL" message="MashupToolWCFService_GetDataFromURL_InputMessage" />
      <wsdl:output wsaw:Action="urn:MashupToolWCFService/GetDataFromURLResponse" message="MashupToolWCFService_GetDataFromURL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>