trunk/WebServer/WebServer/Service References/DataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WebServer.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServer.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52878/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDesignedApplicationData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DesignedApplicationData" nillable="true" type="tns:DesignedApplicationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDesignedApplicationData" nillable="true" type="tns:ArrayOfDesignedApplicationData" />
  <xs:complexType name="DesignedApplicationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="XmlString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DesignedApplicationData" nillable="true" type="tns:DesignedApplicationData" />
</xs:schema>