trunk/WebServer/WebServer/Service References/DataService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52878/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServer.Web" />
  <xs:import schemaLocation="http://localhost:52878/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetDesignedApplicationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignedApplicationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServer.Web" minOccurs="0" name="GetDesignedApplicationListResult" nillable="true" type="q1:ArrayOfDesignedApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServer.Web" minOccurs="0" name="data" nillable="true" type="q2:DesignedApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServer.Web" minOccurs="0" name="InsertResult" nillable="true" type="q3:DesignedApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServer.Web" minOccurs="0" name="data" nillable="true" type="q4:DesignedApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServer.Web" minOccurs="0" name="UpdateResult" nillable="true" type="q5:DesignedApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebServer.Web" minOccurs="0" name="DeleteResult" nillable="true" type="q7:DesignedApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignedApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDesignedApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebServer.Web" minOccurs="0" name="GetDesignedApplicationResult" nillable="true" type="q9:DesignedApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdFromName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdFromNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetUserIdFromNameResult" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>