MashupDesignTool/MashupDesignTool/Service References/DataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52878/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52878/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52878/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServer.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetDesignedApplicationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDesignedApplicationList" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDesignedApplicationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDesignedApplicationListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IDataService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDataService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDataService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDesignedApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDesignedApplication" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetDesignedApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDesignedApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetUserIdFromName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdFromName" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetUserIdFromName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdFromNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetDesignedApplicationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetDesignedApplicationList" message="tns:IDataService_GetDesignedApplicationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetDesignedApplicationListResponse" message="tns:IDataService_GetDesignedApplicationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/Insert" message="tns:IDataService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/InsertResponse" message="tns:IDataService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/Update" message="tns:IDataService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/UpdateResponse" message="tns:IDataService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/Delete" message="tns:IDataService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/DeleteResponse" message="tns:IDataService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDesignedApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetDesignedApplication" message="tns:IDataService_GetDesignedApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetDesignedApplicationResponse" message="tns:IDataService_GetDesignedApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdFromName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetUserIdFromName" message="tns:IDataService_GetUserIdFromName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetUserIdFromNameResponse" message="tns:IDataService_GetUserIdFromName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDesignedApplicationList">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetDesignedApplicationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IDataService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDataService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDataService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDesignedApplication">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetDesignedApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdFromName">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetUserIdFromName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:52878/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>